/* This is the styling for the "About me" page */
.about_page {
  background-color: #f0f0f0; /* Use a light background color for better readability */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the element horizontally and vertically */
  height: 600px;
  width: 650px;
  padding: 20px; /* Add some padding for better spacing */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow for depth */
  font: 1em sans-serif;
  font-size: large;
}

h1 {
  font-size: 24px; /* Increase the font size for the heading */
  text-align: center;
  margin-top: 80px; /* Add some margin at the bottom of the heading */
  color: #333; /* Use a darker color for the heading */
}

.about_page p {
  color: #444; /* Use a slightly darker color for the paragraph text */
  text-align: left;
  font-family: Arial, sans-serif; /* Use a common sans-serif font for better readability */
  line-height: 1.6; /* Add some line height for better paragraph spacing */
  margin-top: 40px; /* Add some margin at the top of the paragraph */
}

/* Style for sub-menu container */
.sub__menus {
  position: absolute;
  top: 0;
  left: 100%;
  width: 270px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: none;
}

/* Style for active sub-menu container */
.sub__menus__Active {
  display: block;
}

/* Style for sub-menu list */
.sub__menus ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Style for sub-menu list item */
.sub__menus li {
  margin: 0;
  padding: 0px;
}

/* Style for sub-menu link */
.sub__menus a {
  display: block;
  padding: 10px;
  /* color: #000; */
  text-decoration: none;
  transition: background-color 0.3s ease;
}

/* Style for sub-menu link hover */
.sub__menus a:hover {
  background-color: #f2f2f2;
}

/* Style for the About link hover */
.nav-link:hover + .sub__menus {
  display: block;
  z-index: 1;
}

/* Style for the About link active */
.nav-link.active + .sub__menus {
  display: block;
  z-index: 1;
}
