/* This is the styling for the "Contact" page. It sets the background color, font size, and position of the page */
/* .contact_p {
    background-color: rgb(134, 204, 204);
    height: 450px;
    text-transform: uppercase;
    text-align: center;
    font: 1em sans-serif;
    position: relative;
    top: 350px;
    right: 400px;
}
     */
    /* This sets the styling for the heading and form on the "Contact" page */
/* .contact_p h1,
    form {
    position: relative;
    top: 0px;
} */
    
    /* This sets the styling for the "Contact" page when it is displayed on the home page */
/* .App .contact_p {
    position: relative;
}
     */