
.App .home_P{
    background-color: rgb(156, 201, 240);
    height: 650px;
    width: 700px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    font: 1em sans-serif;
    
}

.home_P p{
    position: relative;
    top: 40%;
}