.App{
    text-transform: uppercase;
    text-align: center;

}

ul{
    position: fixed;
    top: 0;

}

li {
    float: right;
    word-spacing: 2em;
  }
  
a {
    /* padding: 15px; */
    /* background-color: #f3eff7; */
    text-decoration: none;
    word-spacing: 15px;

  }


li {
    display: inline;
    word-spacing: 2em;
  }
    