/* nav.css */

/* This styles the main navigation bar */
.nav {
  background-color: rgb(131, 199, 158);
  width: 100%;
  position: fixed;
  top: 0;
  height: 80px;
  border: 1px solid rgb(0, 0, 0, 0.5);
  z-index: 99;
}

/* This styles the container for the navigation items */
.nav__container {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

/* This styles the hamburger menu button */
.menubar__button {
  background-color: rgb(2, 126, 50);
  position: fixed;
  height: 50px;
  width: 50px;
  top: 15px;
  right: 15px;
  cursor: pointer;
  border: none;
  outline: none;
  z-index: 100;
  display: none;
}

.menubar__button i {
  font-size: 30px;
}

/* This styles the main navigation items */
.nav__container li {
  margin-left: 50px;
  position: relative;
  display: inline-block;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.nav__container li:hover {
  cursor: pointer;
}

/* This styles the active navigation item */
.active {
  color: rgb(255, 229, 0);
}

/* This styles the responsive navigation menu */
.responsive__nav__show {
  background-color: rgb(102, 135, 177);
  width: 100%;
  position: fixed;
  height: 100vh;
  top: 80px;
  left: 0;
  transition: transform 0.5s ease-in-out;
  z-index: 98;
  overflow-y: auto;
  padding: 50px 0 0;
  box-sizing: border-box;
  margin: 0;
  text-align: left;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* This styles the hamburger menu button animation */
.menubar__button:after {
  content: "";
  position: absolute;
  top: 23px;
  right: 15px;
  width: 20px;
  height: 2px;
  background-color: #fff;
  box-shadow: 0px 10px 0px #fff, 0px -10px 0px #fff;
  transition: all 0.2s;
}

.menubar__button:hover:after {
  box-shadow: 0px 5px 0px #fff, 0px -5px 0px #fff;
}

.menubar__button:before {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 2px;
  background-color: #fff;
  transition: all 0.2s;
}

.menubar__button:hover:before {
  top: 23px;
  right: 15px;
  width: 20px;
  height: 2px;
  background-color: #fff;
}

/* This styles the sub-menus (dropdowns) */
.sub__menus {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* This styles the sub-menus when active */
.sub__menus__Active {
  max-height: 400px;
}

.sub__menus li {
  margin: 0;
  padding: 0px;
}
